@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    box-sizing: border-box;
  }

  .letter-spacing-40 {
    letter-spacing: 0.4em;
  }

  html,
  body {
    width: 100vw;
    margin: 0;
  }
}
