@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    box-sizing: border-box;
  }

  .letter-spacing-40 {
    letter-spacing: 0.4em;
  }

  .hide {
    display: none;
  }

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .slide-out {
    overflow-x: hidden;
    transition: transform 0.8s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
  }

  .slide-in {
    overflow-x: hidden;
    transition: transform 0.8s ease-in-out;
    transform: translateX(0);
    opacity: 1;
  }
}
